@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p> TeamTool is an application used to create teams and assign projects within Signifly in collaboration with the client. </p>
