
<!-- Contact Page -->

@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Vesterbrogade 44 <br />
    1620 København V<br />
    <abbr title="Phone">Phone: + 45 6066 3110 </abbr> <br/>
    <a href="http://signifly.com"> Signifly Homepage </a>
</address>

<address>
    <strong>Contact:</strong> <a href="mailto:hello@signifly.com">Hello@signifly.com</a><br />
</address>
